In [3]:
# Importando módulos
import pandas as pd

In [ ]:
# Lendo arquivo csv
notas = pd.read_csv('data/ml-latest-small/ratings.csv')
notas.head()

In [14]:
# Verificando as dimensões do dataset
notas.shape

(100836, 4)

In [18]:
# Alterando as colunas
notas.columns = ['usuarioId', 'filmeId', 'nota', 'momento']
notas.head()

   usuarioId  filmeId  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

In [26]:
# Trabalhando com Series
# Vendo a coluna 'nota'
notas['nota'].head()

0    4.0
1    4.0
2    4.0
3    5.0
4    5.0
Name: nota, dtype: float64

In [30]:
# Quais os valores da minha série?
notas['nota'].unique()

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

In [37]:
# Quantas vezes os valores únicos se repetem?
notas['nota'].value_counts()

4.0    26818
3.0    20047
5.0    13211
3.5    13136
4.5     8551
2.0     7551
2.5     5550
1.0     2811
1.5     1791
0.5     1370
Name: nota, dtype: int64

In [38]:
# Qual a média de todas as notas?
notas['nota'].mean()

3.501556983616962